@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');

.nothing-you-could-do-regular {
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .quicksand-uniquifier {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  .playfair-display-uniquifier {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: #a3bc3e;
    --cor1: #b7c879;
    --cor2: #c8cea2;
    --cor3: #dadfc4;
    --cor04: #e4a997;
  --font01:'Quicksand';
  --fonte02: 'Nothing You Could Do';
  --fonte3: 'Playfair Display' ;
}
body{
    background: url(imagens/espaço\ da\ bruxa.png);
    background-size: cover;
   
}
header{
    text-align: center;
    justify-content: center;
   background-color: #b7c879;
   font-family: var(--fonte3);
   font-size: larger;
}
header>nav{
    text-align: left;
   padding-right: 70px;
   margin: 50px;
   margin-left: 70px;
   font-size: medium;
   
}
header>nav>a{
    margin: 20px;
    padding: 10px;
    text-decoration: none;
}
header>nav>a:hover{
    text-decoration: underline;
    color: aquamarine;
}
div.introducao{
    background-color: #c8cea2b0;
   
   align-items: center;
   margin: auto;
   margin-bottom: 30px;
   max-width: 600px;
    padding: 10px;
    border-radius: 5%;
}
div.introducao>p{
    text-align: center;
}
div.introducao > h1{
 font-size: 2em;
 padding-bottom: 10px;
 text-align: center;
 margin: auto;
 color: darkgreen;
 text-shadow: 2px;
}
div.introducao>img{
    display: inline-block;
    width: 100px;
    height: 100px;
}

div.eu{
    margin-top: 30px;
    padding: 30px;
    margin: auto;
    background-color: #c8cea2b0;
    text-align: center;
   justify-content: center;
    max-width: 600px;
     padding: 10px;
     box-shadow: 6px 6px 13px 0px black;
     border-radius: 5%;
}
div.eu >img{
    align-items: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
div.eu > h1{
    font-size: 2em;
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
    color: darkgreen;
}